<h1>Forgot Your Password?</h1>

<%= form_with(url: password_resets_path, local: true) do |f| %>
  <div class="field">
    <%= f.label :email, "Enter your email address" %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <p><%= f.submit "Send Reset Instructions", class: "btn btn-primary" %></p>
  </div>
<% end %>