<h1 class = "text-center">Updating Admin Information</h1>

<%= render "form", admin: @admin %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to Admins", admins_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>

