<h1>Admin Center</h1>

<% if Current.admin %>
  Welcome back <%= Current.admin.firstName %>
<% end %>
<p></p>
<div id="admins">
  <% @admins.each do |admin| %>
    <%= render admin %>
    <p>
      <%= link_to "Show this admin", admin %>
    </p>
  <% end %>
</div>

<%= link_to "New admin", new_admin_path %>