<h1 class = "text-center">New Event Registration</h1>

<%= render "form", event: @event %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to events", administrator_events_path, method: :get, class: "btn btn-alogin btn-lg" %>
</div>
