<h1 class = "text-center">New Classification Creation</h1>

<%= render "form", classification: @classification %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to classifications", administrator_classifications_path, method: :get, class: "btn btn-alogin btn-lg" %>
</div>
