<h1 class = "text-center">New User Registration</h1>

<%= render "form", user: @user %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to Users", administrator_users_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>
