<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
</head>
<style>
.text-box {
    border: 2px solid black; /* Adjust the thickness and color of the border */
    padding: 10px;           /* Add some space inside the box */
    display: inline-block;    /* Ensure the box wraps just around the text */
    background-color: lightyellow;
}
</style>
<body>

<h1>About Us</h1>
<p>At Colorado Community Resource Finder, we are committed to empowering Colorado's low-income residents, 
people experiencing homelessness, immigrants and migrants by providing a centralized, user-friendly platform 
to discover free or low-cost resources in essential areas such as food, housing, healthcare, childcare, legal services, and education.</p>

<p>Our vision is to build a stronger, more connected community by ensuring that everyone in Colorado has access to the 
resources they need to thrive. By centralizing knowledge and creating a space for feedback and collaboration, 
we aim to make navigating these services easier and more transparent for all.</p>

<h1>Who We Are</h1>
<p> blurb about who we are (CS students? what this project means to us or something idk)</p>

<h1>Affiliates</h1>
<p>who we work with / resources available</p>
</body>
</html>