<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container mt-4">
  <h1>Welcome to the COmmunity Resource Finder</h1>
  <p>Explore free and low-cost events and resources happening in Colorado.</p>


