<div class="container home-page">
  <div class="welcome">
    <h1>Welcome to the Community Resource Finder</h1> 
    <h2>Explore free and low-cost events and resources happening in Colorado.</h2>
  </div>

  <div class="row justify-content-between">
    <!-- Main Buttons Section -->
    <div class="col-md-3">
      <div class="button-section">
        <%= button_to "Create a Profile", new_user_path, method: :get, class: "btn btn-large main-button" %>  
          <div class="profile_create">
          <div style="padding-left: 55px; text-align: center;">
              <p class="text-content">
                Create an account to get personalized recommendations on free and low cost resources.
              </p>
          </div>
          </div>
        <%= button_to "Continue as a Guest", pages_explore_path, method: :get, class: "btn btn-large main-button" %>
         <div class="guest">
          <div style="padding-left: 55px; text-align: center;">
              <p class="text-content">
                Browse low-cost and free resources for Colorado Residents.
              </p>
          </div>
          </div>
      </div>
    </div>





    <!-- About Us Section -->
    <div class="col-md-6 offset-md-3">
      <div class="about-section">
        <h2>About Us</h2>
        <p class="text-content">
          At Colorado Community Resource Finder, we are committed to empowering Colorado's low-income residents, 
          people experiencing homelessness, immigrants and migrants by providing a centralized, user-friendly platform 
          to discover free or low-cost resources in essential areas such as food, housing, healthcare, childcare, legal 
          services, and education.
          <br/>
          <br/>
          Our vision is to build a stronger, more connected community by ensuring that everyone in Colorado has access to the 
          resources they need to thrive. By centralizing knowledge and creating a space for feedback and collaboration, we aim 
          to make navigating these services easier and more transparent for all.
        </p>
      </div>
    </div>
  </div>
</div>



