<!DOCTYPE html>
<! -- Survey Created for COmmunity Resource -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
</head>

-- add stylesheet here (CSS)

<! -- !!WARNING!! Do NOT modify the function here, it is for the entire survey -->
<script defer> 

    // going to change this to branching logic and more scaleable.
    function showNext() {
    document.getElementById("question1").style.display = "none";
    document.getElementById("question2").style.display = "block";
}
</script>
  
<! -- !!END WARNING!!  -->


<body>
    <h1>Survey Form</h1>
    <form action="<%= survey_path %>" method="POST"> 
     <%= hidden_field_tag :userID_id, current_user.id %> <!-- logged in user -->
     <%= hidden_field_tag :questionID_id, 1 %> <!-- question 1 -->

      <div id="question1">
      <label for="safety_check">Are you safe?</label><br>
      
      <!-- Yes option -->
      <input type="radio" id="safe_pos" name="safety_check" value="yes" onclick="showNext()">
      <label for="safe_pos">Yes</label><br>

      <!-- No Option with Redirection -->
        <input type="radio" id="safe_neg" name="safety_check" value="no" onclick="redirectToPage()">
        <label for="safe_neg">No</label><br>

      <button type="button" onclick="showNext()">Next</button>
      </div>

      <!-- Conditional Section Based on Safety Check (Shows if No is selected) -->
      <script>
        function redirectToPage() {
        window.location.href = "https://www.example.com"; // Change this URL to your target page
        }  
        </script>

     <-- End Conditional --> 


    < -BEGIN BRANCHING QUESTIONS -->
    <-- Dependents -->
    <div id="question2">
    <label for="dependents">Do you have any dependents?</label><br>
    <input type="radio" id="dep_pos" name="dependents" value="Yes" required><br><br>
    <label for="dep_pos">Yes</label><br>

    <input type="radio" id="dep_neg" name="dependents" value="No" required><br><br>
    <label for="dep_neg">No</label><br>

    </div>

     <-- Age Range -->
        <div id="question3">
        <label for="age">What is your age range?</label><br>
        <input type="radio" id="under_eighteen" name="age" value="Under 18"><br><br>
        <label for="under_eighteen">Under 18</label><br>

        <input type="radio" id="nineteen_to_sixtyfour" name="age" value="19-64"><br><br>
        <label for="nineteen_to_sixtyfour">19-64</label><br>

        <input type="radio" id="over_sixtyfive" name="age" value="65+"><br><br>
        <label for="over_sixtyfive">65+</label><br>
       
        button type="button" onclick="showNext()">Next</button>
        </div>


        <!-- Multiple Choice Questions -->

        <button type="submit">Submit Survey</button>
    </form>
</body>
</html>
