<h1 class = "text-center">Editing Question</h1>

<%= render "form", question: @question %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to questions", administrator_questions_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>
