<h1 class = "text-center">Questions</h1>
<%= button_to "Add new Question", new_administrator_question_path, method: :get, class: 'btn btn-alogin btn-lg' %>
<p></p>
<div id="questions">
  <table class = "table">
    <thead>
      <tr>
        <th scope = "col"><strong>ID:</strong></th>
        <th scope = "col"><strong>Question:</strong></th>
        <th scope = "col"><strong>Creation Admin:</strong></th>
        <th scope = "col"><strong>Created:</strong></th>
        <th scope = "col"><strong>Last Update:</strong></th>
      </tr>
    </thead>
    <tbody class = "table-group-divider">
      <% @questions.each do |question| %>
        <%= render partial: "question", locals: { question: question} %>
      <% end %>
    </tbody>
  </table>
</div>