<h1 class = "text-center">Reviewing Review</h1>

<%= render "form", review: @review %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to reviews", administrator_reviews_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>
