/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .logo-img {
    height: 80px; /* Adjust the height to fit your navbar */
    width: auto;  /* Maintain the aspect ratio */
    max-width: 160px; /* Optional: Set a max-width to limit logo size */
  }

  /* Styling the text next to the logo */
.logo-text {
    font-size: 1.6rem;  /* Keep the size balanced with the logo */
    font-weight: 600;   /* Adjust the font weight for emphasis */
    color: #ffffff;     /* Ensure text color contrasts with the background */
    margin-left: -15px;   /* Reduce margin to bring text closer to the logo */
    letter-spacing: 0.05rem; /* Slight letter spacing for readability */
    font-family: 'Roboto', sans-serif;  /* Use a clean, modern font */
    vertical-align: middle;  /* Ensure vertical alignment with the logo */
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .logo-text {
      font-size: 1.3rem;  /* Reduce font size on smaller screens */
    }
  }

 .controls button {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .text-content {
    font-size: 16px; /* Default size */
  }

  .custom-dropdown-bg {
    background-color: #A4C3B2 !important;
    border: none !important;
  }

  .custom-dropdown-bg .dropdown-item:hover {
    color: inherit !important;
    background-color: transparent !important;
  }
