.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.button {
    background-color: #91A998; /* green color */
    
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
    font-family: sans-serif;
    
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #78917B; /* darker green when hovered */
}
