.home-page {
    padding: 20px 20px;
    background-color: #f5faf5; /* Background color to match your design */
    border-radius: 15px;
    margin: 20px 20px;
  }
  
  .home-page .main-button {
    width: 100%; /* Make buttons the same width */
    margin-bottom: flex; /* 50px Add some space between buttons */
    background-color: #4f6957; 
    color: #ffffff; /* Text color */
    border-radius: 5px; 
    padding: 15px; 
    text-align: center;
    font-size: 16px;
    border: none; 
    transition: background-color 0.3s ease;
  }
  
  .home-page .main-button:hover {
    background-color: #A4C3B2; /* Change hover color */
  }
  
  
  .about-section {
    background-color: #a0b8a1; /* Match your color palette */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the 'About Us' section */
    margin: 10px;
  }
  
  .col-md-6 {
    float: right; /* Move the 'About Us' section to the right */
  }
  

  

  
  
  
  