<h1 class= "text-center">Organizations</h1>
<%= button_to "Add new Organization", new_organization_path, method: :get, class: 'btn btn-alogin btn-lg' %>
<p></p>
<div id="organizations">
  <table class = "table">
    <thead>
      <tr>
        <th scope = "col"><strong>ID:</strong></th>
        <th scope = "col"><strong>Email:</strong></th>
        <th scope = "col"><strong>Organization:</strong></th>
        <th scope = "col"><strong>Street:</strong></th>
        <th scope = "col"><strong>City:</strong></th>
        <th scope = "col"><strong>State:</strong></th>
        <th scope = "col"><strong>Zip Code:</strong></th>
        <th scope = "col"><strong>Phone Number:</strong></th>
        <th scope = "col"><strong>Website:</strong></th>
        <th scope = "col"><strong>Services:</strong></th>
        <th scope = "col"><strong>Stars:</strong></th>
        <th scope = "col"><strong>Creation Admin:</strong></th>
        <th scope = "col"><strong>Created:</strong></th>
        <th scope = "col"><strong>Last Update:</strong></th>
      </tr>
    </thead>
    <tbody class = "table-group-divider">
      <% @organizations.each do |organization| %>
        <%= render partial: "organization", locals: { organization: organization} %>
      <% end %>
    </tbody>
  </table>
</div>