<h1 class = "text-center">Organization Entry</h1>

<%= render "form", organization: @organization %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to Organizations", organizations_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>
