<h1 class = "text-center">Viewing survey</h1>

<%= render "form", survey: @survey %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to surveys", administrator_surveys_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>
