<h1 class = "text-center">Updating Category Name</h1>

<%= render "form", category: @category %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to Categories", administrator_categories_path, method: :get, class: 'btn btn-alogin btn-lg' %>
</div>
